@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'TmoneyRoundWindExtraBold';
}

.sketch_container {
    width: 80%;
    height: 500px;
    margin: auto;
    display : flex;
    justify-content: center;
    align-items : center;
    border-radius: 10px;
    background-color: #2E3C7E;
}

.before_image_box {
    flex: 1;
    height: 360px;
    margin-left: 80px;
    border: solid black 2px;
    border-radius: 10px;
}

.before_image_box img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.drag-area {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.drag-area .icon {
    font-size: 100px;
    color: white;
}

.drag-area header {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.drag-area span {
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.btn_box {
    flex: 1;
    height: 360px;
    font-size: 20px;
    display : flex;
    margin: 0 100px;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    border: solid black 2px;
    border-radius: 10px;
}

.btn {
    height: 40px;
    margin: 3px;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
}

.sketch_text {
    height: 40%;
    justify-content: center;
    align-items : center;
}

.sketch_btn {
    justify-content: center;
    align-items : center;
    cursor: pointer;
}

.sketch_img_box {
    flex: 1;
    height: 350px;
    margin-right: 80px;
    align-items : center;
    border: solid black 2px;
    border-radius: 10px;
}

.sketch_image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info_container {
    width: 100%;
    height: 400px;
    padding: 10px 50px 0px 50px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.info_text_box {
    width: 900px;
    height: 300px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.info_image {
    height: 100%;
}

.info_text {
    font-size: 15px;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    position: relative; z-index:999;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 999;
}

.modal_window {
    background: #2E3C7E;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid #2E3C7E;
    width: 600px;
    height: 680px;
    display: flex;
    flex-direction: column;
}

.modal_image {
    width: 520px;
    height: 320px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal_image img {
    width: 100%;
    height: 100%;
}

.modal_post_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.modal_text {
    font-family: 'Poor Story';
    font-size: 20px;
    width: 520px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal_button {
    text-align: center;
}

.modal_button button {
    height: 40px;
    margin: 3px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
}