@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#each_grid {
    display:flex; 
    justify-content: center; 
    align-items: center;
}

.before_image_box {
    width: 320px;
    height: 360px;
    border: solid dimgray 2px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.before_image_box img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.before_image {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.before_image .icon {
    font-size: 100px;
    color: black;
}

.before_image header {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.before_image span {
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin: 10px 0 15px 0;
}

.before_image button {
    padding: 10px 25px;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.btn_box {
    width: 320px;
    height: 360px;
    font-size: 20px;
    display : flex;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    border: solid dimgray 2px;
    border-radius: 10px;
}

.frozen button {
    padding: 0px;
    margin: 3px;
    border: none;
    object-fit: cover;
    background-color: transparent;
}

.frozen button:hover {
    filter: brightness(85%);
}

.sketch_text {
    height: 40%;
    justify-content: center;
    align-items : center;
}

.sketch_btn {
    justify-content: center;
    align-items : center;
    cursor: pointer;
}

.after_img_box {
    width: 320px;
    height: 360px;
    align-items : center;
    border: solid dimgray 2px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    display: block;
}

.sketch_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.loading_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info_container {
    width: auto;
    height: 530px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.info_text_box {
    width: 900px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.info_image {
    height: 100%;
}

.info_text {
    font-size: 15px;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    position: relative; z-index:999;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 999;
}

.modal_window {
    background: #F0EDCC;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid #F0EDCC;
    width: 600px;
    height: 760px;
    display: flex;
    flex-direction: column;
}

.modal_image {
    width: 520px;
    height: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal_image img {
    width: 100% !important;
    height: 100%;
}

.modal_post_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.modal_text {
    font-family: 'Poor Story';
    font-size: 20px;
    width: 520px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal_button {
    text-align: center;
}

.modal_button button {
    height: 40px;
    margin: 3px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
}
