.community_container {
    width: 80%;
    margin: auto;
}

.row {
    margin-top: 40px;
}

#each_grid {
    display: flex;
    height: 70px;
}

.grid_4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

:root {
    --accent: #00539C;
    --border-width: 2px;
    --border-radius: 10px;
    --font-size: 12px;
}

.radio-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding-top: 10px;
    font-family: sans-serif;
}

.radio-container {
    perspective: 800px;
    width: 150px;
    height: 50px;
}

.toggle {
    position: relative;
    border: solid var(--border-width) var(--accent);
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
    perspective: 800px;
}

.toggle>input[type="radio"] {
    display: none;
}

.toggle>#choice1:checked~#flap {
    transform: rotateY(-180deg);
}

.toggle>#choice1:checked~#flap>.content1 {
    transform: rotateY(-180deg);
}

.toggle>#choice2:checked~#flap {
    transform: rotateY(0deg);
}

.toggle>label {
    display: inline-block;
    min-width: 70px;
    padding: 5px 10px 5px 10px;
    font-size: var(--font-size);
    text-align: center;
    color: var(--accent);
    cursor: pointer;
}

.toggle>label,
.toggle>#flap {
    font-weight: bold;
    text-transform: capitalize;
}

.toggle>#flap {
    position: absolute;
    top: calc(0px - var(--border-width));
    left: 50%;
    height: calc(100% + var(--border-width) * 2);
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--accent);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.toggle>#flap>.content1 {
    color: #333;
    transition: transform 0s linear .25s;
    transform-style: preserve-3d;
}

.gallery {
    column-count: 4;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
    cursor: pointer;
}

.gallery img:hover {
    filter: brightness(70%);
}

.post_list {
    position: relative;
}

.post_list:hover .content{
    opacity: 1;
}

.gallery_3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

@media(max-width: 768px) {
    .gallery_3 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

}

.gallery_3 .post_card {
    width: 100%;
    height: 300px;
    border: solid 1px;
    border-radius: 3px;
    background-color: white;
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery_3 .post_card:hover {
    filter: brightness(85%);
}

.gallery_3 img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gallery_3 .post_card:hover {
    filter: brightness(80%);
}

.title_3 {
    position: absolute;
    left: 5%;
    font-size: px;
    color: black;
}

.content_3 {
    position: absolute;
    bottom: 10px;
    left: 5%;
    font-size: 18px;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.user_3 {
    position: absolute;
    bottom: -6%;
    right: 5%;
    font-size: 17px;
    color: black;
    display: block;
    overflow: hidden;
}

.heart {
    position: absolute;
    left: 5%;
    bottom: 4%;
    font-size: 15px;
    color: gray;
    display: block;
    overflow: hidden;
}

.like_heart {
    color: red;
    position: absolute;
    display: block;
    overflow: hidden;
}

.likeCount {
    position: absolute;
    bottom: -9%;
    left: 15%;
    font-size: 20px;
    color: black;
    display: block;
    overflow: hidden;
}

.search {
    width: 80%;
    margin: auto;
}

.pagination {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}