.community_container {
    width: 80%;
    margin: auto;
}

:root {
    --accent: #ed6a66;
    --border-width: 2px;
    --border-radius: 10px;
    --font-size: 12px;
}

.radio-body {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 30px;
    font-family: sans-serif;
}

.radio-container {
    perspective: 800px;
}

.toggle {
    position: relative;
    border: solid var(--border-width) var(--accent);
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
    perspective: 800px;
}

.toggle>input[type="radio"] {
    display: none;
}

.toggle>#choice1:checked~#flap {
    transform: rotateY(-180deg);
}

.toggle>#choice1:checked~#flap>.content1 {
    transform: rotateY(-180deg);
}

.toggle>#choice2:checked~#flap {
    transform: rotateY(0deg);
}

.toggle>label {
    display: inline-block;
    min-width: 70px;
    padding: 5px 10px 5px 10px;
    font-size: var(--font-size);
    text-align: center;
    color: var(--accent);
    cursor: pointer;
}

.toggle>label,
.toggle>#flap {
    font-weight: bold;
    text-transform: capitalize;
}

.toggle>#flap {
    position: absolute;
    top: calc(0px - var(--border-width));
    left: 50%;
    height: calc(100% + var(--border-width) * 2);
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--accent);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.toggle>#flap>.content1 {
    color: #333;
    transition: transform 0s linear .25s;
    transform-style: preserve-3d;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif
}

.gallery {
    column-count: 4;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
    cursor: pointer;
}

.gallery img:hover {
    filter: brightness(70%);
}

.post_list {
    position: relative;
}

.post_list:hover .content{
    opacity: 1;
}

.gallery_3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}

.gallery_3 .post_card {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    background-color: white;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
}

.gallery_3 img {
    width: 100%;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gallery_3 .post_card:hover {
    filter: brightness(80%);
}

.title_3 {
    position: absolute;
    bottom: 16px;
    left: 14px;
    font-size: 24px;
    color: black;
}

.content_3 {
    position: absolute;
    bottom: -12px;
    left: 14px;
    font-size: 18px;
    color: black;
}

.user_3 {
    position: absolute;
    bottom: -12px;
    right: 10px;
    font-size: 20px;
    color: black;
}

.heart {
    position: absolute;
    bottom: 42px;
    right: 30px;
    font-size: 18px;
    color: gray;
}

.like_heart {
    color: red
}

.likeCount {
    position: absolute;
    bottom: 17px;
    right: 10px;
    font-size: 20px;
    color: black;
}
