@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* 라디오버튼 시작 */
:root {
    --accent: lightcyan;
    --border-width: 3px;
    --border-radius: 55px;
    --font-size: 20px;
}

.radio-body {
    width: 250px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 30px;
    /* background-color: #333; */
    font-family: sans-serif;
}

.radio-container {
    perspective: 800px;
}

.toggle {
    position: relative;
    border: solid var(--border-width) var(--accent);
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
    perspective: 800px;
}

.toggle>input[type="radio"] {
    display: none;
}

.toggle>#choice1:checked~#flap {
    transform: rotateY(-180deg);
}

.toggle>#choice1:checked~#flap>.content1 {
    transform: rotateY(-180deg);
}

.toggle>#choice2:checked~#flap {
    transform: rotateY(0deg);
}

.toggle>label {
    display: inline-block;
    min-width: 70px;
    padding: 10px 20px 10px 20px;
    font-size: var(--font-size);
    text-align: center;
    color: var(--accent);
    cursor: pointer;
}

.toggle>label,
.toggle>#flap {
    font-weight: bold;
    text-transform: capitalize;
}

.toggle>#flap {
    position: absolute;
    top: calc(0px - var(--border-width));
    left: 50%;
    height: calc(100% + var(--border-width) * 2);
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--accent);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.toggle>#flap>.content1 {
    color: #333;
    transition: transform 0s linear .25s;
    transform-style: preserve-3d;
}
/* 라디오 버튼 끝 */


* {
    margin: 0;
    padding: 0;
}

body {
    background: #101322;
    color: silver;
}

#gallery {
    column-count: 4;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: white;
}

#gallery img:hover {
    filter: brightness(70%);
}

.gallery_2 {
    height: 200px;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.gallery_2 img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: white;
}

.gallery_2 img:hover {
    filter: brightness(70%);
}

.content {
    position: absolute;
    bottom: 25px;
    left: 15px;
    z-index: 1;
    font-size: 20px;
    color: white;
    opacity: 0;
}

.post_list {
    position: relative;
}

.post_list:hover .content{
    opacity: 1;
}

.gallery_3 {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.gallery_3 .post_card {
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
}

.gallery_3 img {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.content_3 {
    position: absolute;
    bottom: 48px;
    left: 15px;
    font-size: 20px;
    color: black;
}

.user_3 {
    position: absolute;
    bottom: 25px;
    left: 15px;
    font-size: 16px;
    color: black;
}

.line {
    position: absolute;
    text-align: left;
    bottom: 18px;
    width: 100%;
    size: 1px;
    color: black;
}

.heart {
    position: absolute;
    bottom: 9px;
    left: 14px;
    font-size: 18px;
    color: gray;
    /* cursor: pointer; */
}

/* .heart:hover {
    filter: brightness(80%);
} */

.like_heart {
    color: red
}

/* .like_heart:hover {
    filter: brightness(80%);
} */

.likeCount {
    position: absolute;
    bottom: -12px;
    left: 38px;
    font-size: 15px;
    color: black;
}

.community_container {
    margin-bottom: 300px;
    padding: 70px;
}