/* 채색버튼 시작 */
.upload-btn {
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    display: inline-block;
    font-size: large;
    width: 90%;
    height: 35%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 1px silver;
    border-radius: 10px;
    border: none;
}

.upload-btn:hover {
    color: white;
    background-position: right center; /* change the direction of the change here */
}

.btn-2 {
    background-image: linear-gradient(to right, #00539C 0%, white 51%, #ed6a66 100%);
}

.sketch_container {
    height: 500px;
    border-radius: 10px;
    display : flex;
    justify-content: center;
    align-items : center;
    background-color: #F0EDCC;
}

.btn_box {
    width: 300px;
    height:300px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.sketch_text {
    height: 40%;
    justify-content: center;
    align-items : center;
    font-size: 25px;
}

.sketch_btn {
    justify-content: center;
    align-items : center;
    cursor: pointer;
}

.sketch_img_box {
    width: 350px;
    height:350px;
    padding: 5px;
    display : flex;
    justify-content: center;
    align-items : center;
    background-color: transparent;
}

.sketch_image {
    height: 100%;
    border-radius: 10px;
}

.post_container {
    width: 100%;
    height: 760px;
    margin: auto;
}

#post_box {
    height: auto;
    margin: 0 10px;
}

.card_row_1 {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
}

.card_row_2 {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
}

.best_post {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.new_post {
    height: 280px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
    display: block;
}

.new_post:hover {
    filter: brightness(95%);
}

.post_image {
    width: 100%;
    height: 220px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.title {
    position: relative;
    top: 1%;
    font-size: 16px;
    color: black;
    overflow: hidden;
    display: block;
    padding: 0px 6px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post_card_footer {
    position: relative;
    top: -7%;
    font-size: 16px;
    color: black;
    display: block;
    justify-content: flex-start;
    height: 30px;
    max-width: calc(100%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post_user_card {
    width: 70%;
    display: flex;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}

.post_user_image {
    width: 20px;
    height: 20px;
    margin: 5px;
    display: block;
}

.user {
    width: 125px;
    font-size: 15px;
    color: black;
    padding-top: 3px;
    display: block;
    overflow: hidden;
}

.post_like_card {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.heart {
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
    color: gray;
}

.like_heart {
    color: red;
    position: absolute;
    padding: 1px 3px;
    display: inline-block;
    overflow: hidden;
    right: 10%;
}

.likeCount {
    font-size: 15px;
    color: black;
    margin: 0 3%;
    position: absolute;
    right: 1%;
}

.tweet_box {
    width: auto;
    height: 100%;
    margin-bottom: 200px;
    margin: 0 20px;    
}

.timeline {
    width: auto;
    height:620px;
    overflow:scroll;
    background-color:transparent;
}
