/* 채색버튼 시작 */
.upload-btn {
    /* font-weight: bold; */
    font-size: large;
    /* flex: 1 1 auto; */
    width: 90%;
    height: 25%;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 1px silver;
    /* box-shadow: 0 0 5px #eee; */
    border-radius: 10px;
    border: none;
}
.upload-btn:hover {
    color: black;
    /* text-shadow: silver; */
    background-position: right center; /* change the direction of the change here */
}
.btn-2 {
    background-image: linear-gradient(to right, turquoise 0%, lightskyblue 51%, aquamarine 100%);
}
/* 채색버튼 끝 */

.sketch_container {
    width: 100%;
    height: 400px;
    display : flex;
    justify-content: center;
    align-items : center;
    background-color: #02343F;
}

.btn_box {
    width: 300px;
    height:300px;
    margin: 10px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    border:1px solid silver;
}

.sketch_text {
    height: 40%;
    justify-content: center;
    align-items : center;
}

.sketch_btn {
    justify-content: center;
    align-items : center;
    cursor: pointer;
}

.sketch_img_box {
    width: 250px;
    height:300px;
    margin: 10px;
    padding: 5px;
    display : flex;
    justify-content: center;
    align-items : center;
    background-color: white;
}

.sketch_image {
    height: 100%;
}

.info_container {
    width: 100%;
    height: 400px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.info_img_box {
    width: 300px;
    height:300px;
    margin-right: 10px;
    padding: 5px;
    display : flex;
    justify-content: center;
    align-items : center;
    background-color: white;
}

.info_image {
    height: 100%;
}

.info_text_box {
    width: 300px;
    height:300px;
    margin-left: 10px;
    display : flex;
    justify-content: center;
    align-items : center;
    border:1px solid rgb(169, 181, 241);
}

.info_text {
    font-size: 15px;
}

.post_container {
    width: 100%;
    height: 760px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.post_box {
    width: 750px;
    height: 100%;
    margin-top: 100px;
    margin-right: 10px;
}

.box_title {
    margin-left: 25px;
}

.card_row_1 {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
}

.card_row_2 {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
}

.best_post {
    width: 220px;
    margin: 10px

}

.tweet_box {
    width: 500px;
    height: 100%;
    margin-top: 100px;
    margin-left: 10px;
}

.tweet_box .box_title {
    margin-left: 0px;
}

.timeline {
    height:700px;
    overflow:scroll;
    background-color:white;
}