* {
    margin: 0;
    padding: 0;
}

.userbutton button{
    height: 40px;
    background-color: #F0EDCC;
    color: #FBEAEB;
    border: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px #F0EDCC inset, 0 0 0 0 #F0EDCC;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.userbutton button:hover {
    box-shadow: 0 0 10px 0 #F0EDCC inset, 0 0 10px 4px #F0EDCC;
}

.postview-box {
    background-color: #F0EDCC; 
    width: 950px;
    height: fit-content; 
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.image-box {
    width: 62%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-container {
    width: auto;
}

.image-container {
    width: 100% !important;
    height: 500px;
}

.image {
    width: 100%;
    height: 100% !important;
    border-radius: 5px;
    margin: auto;
}

#post_title {
    font-size: 30px;
}

#post_user {
    font-size: 20px;
}

.like_container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.like_count {
    display: inline;
    align-items: flex-start;
}

.new_post_content {
    background:white;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

.content-box{
    font-size:19px;
    /* height: auto; */
}

.post_buttons {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}



.heart_box {
    display: flex;
    justify-content: center;
    align-items : center;
}

.count_box {
    margin-left: 10px;
}

.heart {
    font-size: 26px;
    color: gray;
    cursor: pointer;
}

.heart:hover {
    font-size: 30px;
    color: gray;
}

.like_heart {
    color: red
}

.like_heart:hover {
    font-size: 30px;
    color: red
}

.comment-box {
    width: 38%;
    height: auto;
    padding: 20px;
}

.create_comment {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: auto;
}

.comments {
    background:white;
    margin-top: 10px;
    border-radius: 5px;
    height: 80%;
    padding: 10px;
    overflow: auto;
}

.comments button {
    font-family: Poor Story;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center; 
    min-width: fit-content;
    background-color: #F0EDCC;
    border: none;
    margin: 5px;
    padding: 5px 7px;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px #F0EDCC inset, 0 0 0 0 #F0EDCC;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.comments button:hover {
    box-shadow: 0 0 10px 0 #F0EDCC inset, 0 0 10px 4px #F0EDCC;
}

.create_comment button {
    box-shadow: 0 0 5px 0 #F0EDCC inset, 0 0 5px 4px #F0EDCC;
}

.delete_back{
    display: flex;
    margin-top: 20px;
    float: right;
}
