* {
    margin: 0;
    padding: 0;
}

.profile{
    width: auto;
    height: 300px;
    border-radius: 20px;
    margin: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#02343F;
    color:#02343F;
}

.profile_image{
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    margin: 20px 20px;
    background-color: #F0EDCC;
}

.profile_user{
    width: 500px;
    height: 200px;
    padding: 20px 20px;
    margin: 20px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F0EDCC;
    color:#02343F;
}

.buttons{
    width: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}

.btn {
    border: 1px dashed ;
    font-weight: bold;
}


.list{
    margin: 30px;
    background-color:#F0EDCC;
    color:#02343F;
}

.post-list{
    display: flex;
    align-items: center;
}

.post-like-list{
    display: flex;
    align-items: center;
}

.col{
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.card{
    padding: 1px;
    background-color: #F0EDCC;
    color:#02343F;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

.card-text{
    color:#02343F;
}