.userinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.before_image {
    width: 300px;
    height:300px;
    margin-right: 10px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}

.before_image .active {
    border: 2px solid #F0EDCC;
}

.before_image .icon {
    font-size: 100px;
    color: #F0EDCC;
}

.before_image span {
    font-size: 25px;
    font-weight: 500;
    color: #02343F;
    margin: 10px 0 15px 0;
}

.before_image button {
    margin: 15px auto 30px auto;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background: #02343F;
    color: #F0EDCC;
    border-radius: 7px;
    cursor: pointer;
}

.before_image button:hover {
    box-shadow: 0 0 10px 0 #F0EDCC inset, 0 0 10px 4px #F0EDCC;
}

.before_image img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.userinfo_image{
    width: 300px;
    height: 300px;
}

.postview-box {
    background-color: #F0EDCC; 
    width: 50%;
    padding: 60px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.modal{
    width: 420px;
    height: 420px;
    left: 450px;
    top: 100px;
    position: fixed;
    align-items: center;
    justify-content: center; 
    z-index: 999;
    display: none;
}

.modal_content{
    border-radius: 10px;
    border: 1px solid #02343F;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password_box {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 3px 0;
}

.x-mas button {
    border: 1px dashed;
    font-weight: bold;
    margin: 30px 20px 10px 20px;
}

.active button {
    margin: 20px;
}
